* {
  box-sizing: border-box;
}

body {
  font-family: "Dancing Script", cursive; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0px;
}

nav {
  padding: 32px 0;
  background-color: #aaa;
  height: 90px;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

main {
  margin-top: 90px;
}

h1 {
  padding: 270px 0;
  text-align: center;
  margin: 0px;
}

section {
  min-height: 200px;
  background-color: #bbb;
  padding: 90px;
}

section:nth-child(odd) {
  background-color: #ddd;
}

@media screen and (min-width: 580px) {
    nav {
	padding: 39px 0;
	height: 105px;
    }

    main {
	margin-top: 105px;
    }

    h1 {
	padding: 300px 0;
    }
}